@{
    ViewData["Title"] = "Order Confirmed";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width:100%">
<h1 class="text-center m-5">Order Confirmed Successfully</h1>
    <p class="text-center" style="margin-bottom:200px;">thank you for your Order,<a asp-action="Index" asp-controller="Home">Back to Home page</a></p>
</div>




